* {
  box-sizing: border-box;
}
ul, li{
  list-style: none;
  padding: 0;
}
img{
  display: block;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
.gallery{
  border: 1px solid tomato;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  
}
.gallery-item{
  width: 350px;
  height: 250px;
  flex-basis: calc((100% - 48px) / 3);
}
.gallery-item img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#name-input{
  padding: 10px;
}

/*#region task 4*/

.login-form{
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 10px;

}
.login-form input{
  width: 100%;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 30px;
}
.email{
  margin-bottom: 10px;
}
.password{
  margin-bottom: 10px;
}
.btn{
  width: 100px;
  height: auto;
  padding: 10px 20px;
  transition: background-color 300ms ease-in-out;
  border: 1px solid blueviolet;
  border-radius: 20px;
}
.btn:hover{
  background-color: tomato;
}
/*#endregion task 4*/

/*#region task 5*/

.change-color{
  padding: 5px 10px;
  border-radius: 30px;
  border: 1px solid black;
  transition: background-color 300ms ease-in-out;
}
.change-color:hover,
.change-color:focus{
  background-color: tomato;
}

/*#endregion task 5*/