* {
  box-sizing: border-box;
}
ul, li{
  list-style: none;
  padding: 0;
}
img{
  display: block;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
/*#region one*/
#categories{
  width: 392px;
  height: auto;
  padding: 0px 16px;

}
.item{
  border: none;
  padding: 0;
}
.item > ul {
    display: flex;
  flex-direction: column;
  gap: 8px;
}
.item > ul > li {
  border: 1px solid #808080;
border-radius: 4px;
padding: 8px 16px;

font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}

/*#endregion one*/

/*#region two*/

.gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  
}
.gallery-item{
  width: 350px;
  height: 250px;
  flex-basis: calc((100% - 48px) / 3);
}
.gallery-item img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/*#endregion two*/

/*#region three*/

#name-input{
  padding: 8px 16px;
  width: 360px;
  height: auto;
}

#name-input::placeholder{
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}

h1{
  font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
}


/*#endregion three*/


/*#region task 4*/

.login-form{
  width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}
.login-form input{
  width: 100%;
  padding: 5px 10px;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  margin-bottom: 8px;
}
.login-form button{
  font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;

border: none;
border-radius: 8px;
padding: 8px 16px;
width: 86px;
height: 40px;
transition:  background 300ms ease-in-out;
background: #4e75ff;
margin-top: 16px;
}

.login-form button:hover{
  background: #6c8cff;
}

/*#endregion task 4*/

/*#region task 5*/

.widget p {
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}

.change-color {
  font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;

border-radius: 8px;
padding: 8px 16px;
width: 148px;
height: auto;

border: none;
background: #4e75ff;
transition:  background 300ms ease-in-out;
}

.change-color:hover{
  background: #6c8cff;
}

/*#endregion task 5*/